.taskForm {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: -2rem;
}

.taskForm textarea {
  background: var(--gray-500);
  border: 0;
  border-radius: 8px;
  color: var(--gray-100);
  resize: none;
  padding: 1rem;
  width: 47rem;
  font-size: 1rem;
  align-items: center;
  height: 3.375rem;
}

.taskForm button[type="submit"] {
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;

  padding: 1rem;
  width: 5.625rem;
  height: 3.25rem;
  text-align: center;
  font-size: 14px;
  align-items: center;
  display: flex;
  gap: 5px;
}

.taskForm button[type="submit"]:hover {
  background: var(--blue);
}

