.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.menu div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.menu span {
  background: var(--blue);
  color: var(--gray-200);
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 700;
}

.menu p {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.875;
  font-weight: normal;

}

.complete p {
  color: var(--purple);
  font-weight: normal;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.taskMenu {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 5.625rem;
  padding: 0 1rem;
  gap:4rem;
}


.taskCenter {
  width: 95%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.taskCenter b{
  color: var(--gray-300);

}

.taskCenter p{
  color: var(--gray-300);
    font-weight: normal;

}
.taskClip {
    margin-bottom: 5rem;
    position: relative;
    top: 2.9rem;
    left: 8rem;
    width: 65px;
}

.tasks{
  gap:10px;
  display: grid;
}